# Understanding and inspecting data with Pandas( wrangling and cleaning data)

Pandas is a Python library used for working with structured data. Its main purpose is to help you load, manipulate, and clean data efficiently - especially using its core data structure, the DataFrame, which can hold different types of data and gives you powerful tools for inspecting, filtering, and transforming all sorts of datasets.

In this lab, we are going to explore basic _pandas_ concepts, and wrangle and clean a given dataset. We will be looking at very simple datasets, stored as "csv" files in the folder "datasets", but you will learn methods that you will need to be able to process and load your own neuroscience datasets for the projects.

 Since you are reading this notebook, make sure the following files are in the folder "datasets/...":
1. automobile_data.csv
2. dirty_data_to_merge.csv
3. planets.csv

## Exercise 1 - _pandas_
Before getting started with the exercises, I would recommend going through the (tutorial)[https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html] on the _pandas_ website. It gives a good intro to the library and to the DataFrame object-the format used to store your data-which you can use to inspect, handle, and work with all kinds of structured data.

If there are any  something you are not familiar with, make sure to consult the _pandas_ (documentation)[https://pandas.pydata.org/docs/reference/index.html]. I have left some hints when this is the case.

In this exercise, we are going to do some basic _pandas_ manipulation. You will need automobile_data.csv for this exercise.

### 1a) Read in automobile_data.csv

### 1b) Print the first 5 and last 5 rows

### 1c) Remove all the rows with NaN values and save the new dataset
_[hint](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv)_

### 1d) Find the company name with the most expensive car
_[hint](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.max.html)_

### 1e) Display all the cars that are made by Toyota

### 1f) Count the total number of cars per company
_hint: this is the number of rows for each company, you can do this with one command_

### 1g) Find each company's highest priced car (advanced)
_[hint](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby)_

### 1h) Sort all cars by price
_[hint](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)_

### 1i) Make a new column which is price per average mileage

### 1j) Find the 5 cars with the lowest price per mile

### 11k) Find the cars with the highest and lowest horse power

## Exercise 2 - wrangling and cleaning data
In real-world scenarios, data is often messy - full of noise, inconsistencies, and missing values. It is rarely clean and usually requires some preprocessing before it can be properly analyzed or used.

In this exercise, we will look at how to inspect data, which is simple and straightforward using _pandas_, and then move on to some basic wrangling and cleaning steps. You will need "datasets/dirty_data_to_merge.csv" for this exercise.

In [ ]:
# load your data as a DataFrame, and inspect some of the statistics like we did above - refer to the pandas tutorial if needed

With a quick inspection, we can see that this data set has erroneous data in it. It is our job to wrangle and clean it before we can merge it with the other dataset.

### 2a) Column Names
Rename the column names so that they satisfy some standard _python_ conventions (i.e., begin with a lowercase, use snake_case, the name is only one or two words which are descriptive)

### 2b) NaNs
The data collector said if there any NaN rows, to remove them.

We have calculated that there are  NaN entries in the  column. These correspond to Ids = [] (which are rows = []). This leaves us with 30 - = rows.

### 2c) Duplicates
The data collector said if there are any duplicates, then to remove them apart from the first entry.

### 2d) Datetime
We should change the timestamp column into datetime type, that way it matches the timestamp column when we merge it to the other dataset.

If you know the format, then it is best to add it. Lists of format specifications can be found here: [python datetime formats](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes).

### 2e) Extract new columns
The data collector has recently realised that they wanted to know whether the participant's favourite music artist/band is either a singer or a band. In the data, the bands are: The Beatles, Linkin Park. In the data, the artists are: Beyonce, Michael Jackson, Prince, Ed Sheeran, Adele, John Denver. Create a new column to reflect the data collector's want.

### 2f) Robot
The data collector let us know that they put in a question to catch out bots answering the form. They put in a question that asked participants if they were a robot, and put True as the first entry (bots often just pick the first entry in the dropdown). They want us to remove all the rows where the robot question was answered True and then remove the Robot column.

We have calculated that there are entries with True in the robot column. These correspond to Ids = [] (which are rows = [] in the current dataframe). This leaves us with  -  = rows.

### 2g) Erroneous data
After some careful inspection, both the columns tv_series and artist_name are resonable. However, the age column is not.

There are four changes we need to make. What are they?

1.

2.

3.

4.

BONUS:

Write a function update_age, that takes a String element with some description of the age as an input(e.g. "20 Years"), and outputs only the relevant number as an Integer. Test it with the following list
```python
tests = ["25", "20", "2 y/o", "5  y/o", "30 years", "40 years old"]
```
The function should return
```python
results = [25, 20, 2, 5, 30, 40]
```
Once you are happy with the results, apply it to the dataframe.

In [ ]:
def update_age(val):
    return

tests = ["25", "20", "2 y/o", "5  y/o", "30 years", "40 years old"]
print([update_age(test) for test in tests])

In [ ]:
# now, apply this to the dataframe

## Bonus: planets.csv
As a bonus exercise, try importing, inspecting, and preprocessing the dataset "planets.csv" in Pandas as a Dataframe. Which preprocessing steps did you choose and why?

In [ ]:
# add your code here